@import url('https://fonts.googleapis.com/css2?family=Abel&family=Courgette&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
}
body{
    background: url(fondo6.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.App{
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
}
/* --- home styles ---*/
.home-container-all{
    width: 100%;
    height: 93vh;
    position: relative;
    background: rgba(0, 0, 0, 0.6);
    scroll-snap-align: start;
}
.home-container-all .home-section-layer{
    width: 100%;
    height: 100%;
    position: relative;
    /* background: rgba(255, 183, 197, 0.1); */
}
.home-container-all .home-section-layer .home-port-info{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
}
.home-container-all .home-section-layer .home-port-info .home-img{
    width: 170px;
    height: 170px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px 0;
}
.home-container-all .home-section-layer .home-port-info .home-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.home-container-all .home-section-layer .home-port-info .home-intro{
    width: 960px;
    height: 142px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-container-all .home-section-layer .home-port-info .home-intro h1{
    font-size: 48px;
    text-align: center;
}
.home-container-all .home-section-layer .home-port-info .home-icons{
    width: 100%;
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px
}
.home-container-all .home-section-layer .home-port-info .home-icons span{
    margin: 0 8px;
}
.home-container-all .home-section-layer .home-port-info .home-icons span > i{
    font-size: 50px;
    color: #b8860b;
}
.home-container-all .home-section-layer .home-port-info .home-cv{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

}
.home-container-all .home-section-layer .home-port-info .home-cv .button-cv{
    padding: 10px;
    border: 1px solid #ffb7c5;
    background: #076439;
    cursor: pointer;
    color:aliceblue;
    font-size: 20px;
    border-radius: 10px;
    transition: all 300ms ease;
}
.home-container-all .home-section-layer .home-port-info .home-cv .button-cv:hover{
    border: 1px solid #b8860b;
    padding: 15px;
    border-radius:15px;
    background: #00582f;
}
.home-container-all .home-section-layer .home-port-info .home-phrase{
    width: 660px;
    height: 92px;
    text-align: center;
    margin: 10px
}
.home-container-all .home-section-layer .home-port-info .home-phrase h3{
    font-size: 28px;
    color:#f0f8ff;
    font-family: 'Courgette', cursive;
}

/* --- navbar styles section --- */
.navbar-section-all{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    
    z-index: 10;
}
.navbar-section-all .navbar-layer{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 20px 20px 0 0;
}
.navbar-section-all .navbar-layer .navbar-content{
    width:95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #b8860b;
    position: relative;
    
}
.navbar-section-all .navbar-layer .navbar-content .navbar-title{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
}
.navbar-section-all .navbar-layer .navbar-content .navbar-links{
    height: 100%;
    width:auto;
    
}
.navbar-section-all .navbar-layer .navbar-content .navbar-links > ul{
    width:auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-section-all .navbar-layer .navbar-content .navbar-links > ul > li{
    text-decoration: none;
    list-style: none;
    margin: 0 10px;
    font-size: 20px;
    cursor: pointer;
}

/* --- about styles section --- */
.about-container-all{
    width: 100%;
    height: 100vh;
    /* background: rgba(0, 0, 0, 0.5); */
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    position: relative;
    overflow: hidden;
    scroll-snap-align: start;
}
.about-container-all .about-content{
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.about-container-all .about-content .about-title{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-container-all .about-content h1{
    width: auto;
    height:auto;
    text-align: center;
    color:#b8860b;
    padding: 5px;
    border-bottom: 1px solid #b8860b;
}
.about-container-all .about-content .about-info-content{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color:#f0f8ff;
    margin-top: 20px;
}
.about-container-all .about-content .about-info-content .about-me{
    width: 1000px;
    height:auto;

}
.about-container-all .about-content .about-info-content .about-me > p{
    width: 95%;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    margin-top: 10px;
}
.about-container-all .about-content .about-info-content .about-competences{
    width: 100%;
    height:300px;
    margin-top: 20px;
}
.about-container-all .about-content .about-info-content .about-competences .competences-title{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.about-container-all .about-content .about-info-content .about-competences .competences-content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.about-container-all .about-content .about-info-content .about-competences .competences-content
.competences-item{
    width:300px;
    height: 170px;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 10px;
}
.about-container-all .about-content .about-info-content .about-competences .competences-content
.competences-item .item-image{
    height:100px;
    width: 100px;
    border-radius: 50%;
    position:absolute;
    background: #ffffff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-container-all .about-content .about-info-content .about-competences .competences-content
.competences-item .item-image >img{
    height: 90%;
    width: 90%;
    object-fit: cover;
}
.about-container-all .about-content .about-info-content .about-competences .competences-content
.competences-item .item-content{
    width: 100%;
    height:120px;
    background: #ffffff;
    border-radius: 10px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#b8860b;
    box-shadow: 6px 3px 3px rgba(0, 0, 0, 0.2);
}
/* --- proyects styles section --- */
.proyects-container-all{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    scroll-snap-align: start;
    background: rgba(0, 0, 0, 0.5);
}
.proyects-container-all .proyects-content{
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.proyects-container-all .proyects-content .proyects-title{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.proyects-container-all .proyects-content .proyects-title >h1{
    width: auto;
    height:auto;
    text-align: center;
    color:#b8860b;
    padding: 5px;
    border-bottom: 1px solid #b8860b;
}
.proyects-container-all .proyects-content .proyects-content-items{
    width: 80%;
    height:auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.proyects-container-all .proyects-content .proyects-content-items .proyect-item{
    width:350px;
    height:250px;
    position: relative;
    overflow: hidden;
    background:#f0f8ff;
    border-radius: 10px;
}
.proyects-container-all .proyects-content .proyects-content-items .proyect-item .proyect-image{
    width: 100%;
    height:180px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.proyects-container-all .proyects-content .proyects-content-items .proyect-item .proyect-image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}